.main-continent {
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 50vh;
  border: 1px solid #000;
  margin-top: 20px;
}

.continent-header {
  border-top: 1px solid #d3d3d3;
}

.africa-page {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(230, 74, 135, 0.9)),
    url('../assets/img/africa.png');
}

.europe-page {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(230, 74, 135, 0.9)),
    url('../assets/img/europe.png');
}

.north-america-page {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(230, 74, 135, 0.9)),
    url('../assets/img/northAmerica.png');
}

.south-america-page {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(230, 74, 135, 0.9)),
    url('../assets/img/southAmerica.png');
}

.asia-page {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(230, 74, 135, 0.9)),
    url('../assets/img/asia.png');
}

.oceania-page {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(230, 74, 135, 0.9)),
    url('../assets/img/oceania.png');
}
