$mainColor: #d3d3d3;
$fontColor: #f8fefd;

body {
  background-color: $mainColor;
  color: $fontColor;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  background-color: #EC4C8A;
}

.zulu {
  color: #000;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.nav-link {
  color: $fontColor;
  font-weight: bolder;
}

.header-tag {
  text-align: center;
}

.about-section, 
.contact-section {
  border-top: 1px solid $mainColor;
}

.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social {
  height: 2.5em;
}

.contact-section {
  height: 90vh;
}


