$mainColor: #ec4c8a;
$mainColorDarker:#d6457c;
$mainColorDark: #Df4782;
$fontColor: #f8fefd;

body {
  background-color: $mainColor;
}

.navbar {
  width: 100vw;
}

.continentlistContainer {
  display: grid;
  grid-template-areas: 
  'asiaGrid northAmericaGrid'
  'southAmericaGrid antarcticaGrid'
  'europeGrid australiaGrid' 
  ;
  height: auto;
  color: $fontColor;
}

.asiaGrid {
  grid-area: asiaGrid;
}


.northAmericaGrid {
  grid-area: northAmericaGrid;
}

.southAmericaGrid {
  grid-area: southAmericaGrid;
}

.antarcticaGrid {
  grid-area: antarcticaGrid;
}

.europeGrid {
  grid-area: europeGrid;
}

.australiaGrid {
  grid-area: australiaGrid;
}

#allStats {
  background-color: $mainColorDarker;
  color: $fontColor;
}
#africaContainer {
  border-bottom: 10px;
  height: 20vh;
}

#asiaGrid, 
#antarcticaGrid,
#europeGrid {
  background-color: $mainColorDark;
}

#northAmericaGrid, 
#southAmericaGrid,
#australiaGrid {
  background-color: $mainColorDarker;
}

#statsItems {
  display: flex;
  justify-content: space-evenly;
}
.stats {
  border: 1px solid #000;
  width:70vw;
  margin: 0 auto;
}
#statsItems p {
  color: $fontColor;
  font-weight: bolder;
  text-align: center;
}