$mainColor: #ec4c8a;
$mainColorDarker:#d6457c;
$mainColorDark: #Df4782;
$fontColor: #f8fefd;

.root {
  height: 100vh;
}

body {
  background-color: $mainColor;
  // color: $fontColor;
}

h2 {
  color: $fontColor;
}

.darker-backround {
  background-color: $mainColorDarker;
}

.dark-backround {
  background-color: $mainColorDark;
}

p {
  text-align: center;
}

.header, 
.row {
  margin: 0.5% 0;
}
.navbar {
  border-radius: 5px;
}

#statsItems {
  background-color: $fontColor;
  margin-top: 0.5%;
  padding: 0.4% 0 0;
  border-radius: 5px;
  height: 2em;
}

#statsItems p {
  color: darkcyan;
}

.continentGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.continent-image {
  width: 28%;
  height: auto;
  text-align: center;
}
.countryContainer {
  background-color: #8a2e51;
  text-align: center;
  color: whitesmoke;
  width: 30vw;
  margin: 10px auto;
  border-radius: 15px;
}
.countryList {
  display: grid;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 30vw;
  list-style: none;
  overflow-x: hidden; //horizontal
}

.countryList button {
  width: 90%;
  height: auto;
  font-weight: bolder;
  margin: 3px auto;
}